.ms-day-body {
    width: 97%;
    height: 97%;
    padding: 0;
    padding-top: 36px;
    background: white;
}

.day-number-backgroud {
    position: absolute;
    top: 8px;
    left: 8px;
    height: 28px;
    width: 28px;
    background-color: lightblue;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
