<div fxLayout fxLayoutAlign="space-between center" style="background: lightcoral; border-bottom: 1px solid darkgrey">
    <button mat-button style="height: 40px">
        2019
        <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <div>
        <button mat-icon-button>
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>settings_applications</mat-icon>
        </button>
    </div>
</div>
