.mat-menu-content:not(:empty) {
    padding: 0 !important;
}

.mat-menu-panel {
    max-width: none !important;
    width: 256px;
}

*:focus {
    outline: none !important;
    border: 0 !important;
}
